   CONTACT FORM
----------------------------------- */
.contact-form {
    max-width: 500px;
    margin: auto;
}

.contact-form label {
    color: #4a3e7a;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #cfc7e8;
    border-radius: 6px;
    background-color: #faf9ff;
    transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #6e42c1;
    outline: none;
    box-shadow: 0 0 8px rgba(110,66,193,0.3);
}

.contact-buttons input {
    background-color: #6e42c1;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 10px;
}

.contact-buttons input:hover {
    background-color: #55309b;
}

